$desktop-above: 1281px;
$desktop: 1280px;
$tablet-above: 1024px;
$tablet: 1023px;
$mobile-above: 768px;
$mobile: 767px;
$mobile-s-above: 506px;
$mobile-s: 505px;

@mixin respond($query, $value) {
    @if $query =='min' {
        @media (min-width: $value) {
            @content;
        }
    }

    @else if $query =='max' {
        @media (max-width: $value) {
            @content;
        }
    }
}

@mixin hover {
    @media (hover: hover) {
        &:hover {
            @content;
        }
    }

    @media (hover: none) {
        &:hover {
            @content;
        }
    }
}