@use '../media' as md;

.grid {
    --gridColumns: 1;
    display: grid;
    grid-template-columns: repeat(var(--gridColumns), 1fr);
    gap: 40px;

    @include md.respond('max', md.$mobile) {
        row-gap: 30px;
    }

    @for $i from 2 through 12 {
        &--#{$i} {
            --gridColumns: #{$i};
        }
    }

    &--2 {
        @include md.respond('max', md.$tablet) {
            --gridColumns: 1;
        }
    }
}